mark {
    background-color: #008EBE;
    color: white;
    padding: 2px;
}

a {
    color: #008EBE;
}

.section-container {
    width: calc(100% - 3vw);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3vw;
    margin-bottom: 10vh;
}

.section-title {
    font-weight: bold;
    font-size: 40px;
}

.right-image {
    width: 30vw; 
    height: auto;
    border-radius: 20px;
}

.about-text {
    font-family: "Trocchi"!important;
    font-size: 20px;
}

@media screen and (max-width:800px){
    .section-container {
        flex-direction: column;
        width: 90%;
        padding: 0 5%;
    }
    .section-container p{
        margin-top: 2.5%;
        margin-bottom: 0;
    }
    .right-image {
        width: 60vw; 
        margin-top: 7%;
    }
}

@media screen and (max-width:650px){
    .section-title {
        font-size: 1.4em;
    }
    .about-text {
        font-size: 1em;
    }
    .right-image {
        margin-top: 10%;
    }
}
