.modal {
  display: "flex";
  align-items: "center";
  justify-content: "center";
}

.backdrop {
  background-color: #020a1a;
  opacity: 0.5;
}

.card {
  margin-left: 2vw;
  margin-right: 2vw;
  height: 80vh;
  width: 80vh;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.overflowable {
  overflow-y: auto;
  padding-bottom: 20px;
  height: calc(80vh - 20px);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#creation-modal-container{
  display: flex;
  justify-content: center;
}

#creation-modal-toptext{
  font-size: 1.5em;
  margin-bottom: 6%;
}


@media screen and (max-width:1000px){
  #modal{
    flex-direction: column-reverse;
    padding: 0 5%;
  }

  #preview-card{
    margin-bottom: 10%;
  }

  #modal .column.card {
    flex: none;
    height: auto;
    max-height: 40vh;
  }

  .img-container{
    height: auto;
    width: 100%!important;
  }

  .column.card .column{
    flex-direction: row;
    max-height: 20%;
    height: auto;
    flex: auto;
  }

  #modal .column.url-info-container{
    flex-direction: column;
    width: 90%;
    padding: 0 5%;
  }

  .column.card .row .column{
    flex-direction: column;
    max-height: none;
    height: auto;
  }
}